:root {
  --primary-color: #007bff;
  --header: rgb(188, 0, 0);
  --alphabet-table: white;
  --alphabet-table-hover: #ff0400;
}

body {
  background-color: var(--primary-color);
}

header h1 {
  font-family: 'Playfair Display', serif;
  color: var(--header);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.alphabet-row{
  display: flex;
  justify-content: center;
  align-items: center;
}
#alphabet-table td {
  padding: 10px;
  font-family: "Jersey 15", sans-serif;
  color: var(--alphabet-table);
  font-size: 50px;
  transition: 0.2s;
}

#alphabet-table td:hover {
  color: var(--alphabet-table-hover);
  transition: 0.2s;
  cursor: pointer;
}